<div>
    <div class="text-3xl p-2 font-medium">
        Copado
    </div>
    <div class="relative flex items-stretch justify-between p-2">
        <div>
            <p class="text-sm"><span class="text-lg font-medium">Caca</span> Caca@gnauk,com</p>
            <p class="text-xs">For me</p>
        </div>
        <div>
            Timestampado
            <button data-tooltip-target="tooltip-bottom-5" data-tooltip-placement="bottom" class="rounded-full w-8 h-8 hover:bg-gray-200 hover:text-slate-500">
                <i class="fa-solid fa-box"></i>
                <div id="tooltip-bottom-5" role="tooltip" class="absolute transition-opacity duration-300 opacity-0 z-10 invisible inline-block px-2 py-1 text-xs font-medium text-white bg-gray-600 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                    Archive email
                </div>
            </button>
            <button data-tooltip-target="tooltip-bottom-6" data-tooltip-placement="bottom" class="rounded-full w-8 h-8 group hover:bg-gray-200 hover:text-slate-500">
                <i class="fa-solid relative fa-box-open"></i>
                <div id="tooltip-bottom-6" role="tooltip" class="absolute transition-opacity duration-300 opacity-0 z-10 invisible inline-block px-2 py-1 text-xs font-medium text-white bg-gray-600 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                    Unarchive email
                </div>
            </button>
        </div>
    </div>
    <div class="p-2">
        Copado
    </div>
    <div class="p-2"><button class="btn btn-sm btn-outline-primary" id="compose-answer" data-answer=''>Answer</button></div>
</div>