<div class="relative flex items-stretch justify-between bg-gray-50 hover:shadow-lg">
    <div class="p-2">
        <input type="checkbox" />
        <button data-tooltip-target="tooltip-bottom-1" data-tooltip-placement="bottom" class="rounded-full w-8 h-8 hover:bg-gray-200 hover:text-slate-500">
            <i class="fa-regular fa-star"></i>
            <div id="tooltip-bottom-1" role="tooltip" class="absolute transition-opacity duration-300 opacity-0 z-10 invisible inline-block px-2 py-1 text-xs font-medium text-white bg-gray-600 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                Non-marked
            </div>
        </button>
        <button data-tooltip-target="tooltip-bottom-2" data-tooltip-placement="bottom" class="rounded-full w-8 h-8 hover:bg-gray-200 hover:text-slate-500">
            <i class="fa-solid fa-star"></i>
            <div id="tooltip-bottom-2" role="tooltip" class="absolute transition-opacity duration-300 opacity-0 z-10 invisible inline-block px-2 py-1 text-xs font-medium text-white bg-gray-600 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                Marked
            </div>
        </button>
        <button class="w-48">
            <p class="text-start">caca</p>
        </button>
        <a href="javascript:void(0)">
            Cacoso
        </a>
    </div>
    <div class="p-2">
        <button data-tooltip-target="tooltip-bottom-3" data-tooltip-placement="bottom" class="rounded-full w-8 h-8 hover:bg-gray-200 hover:text-slate-500">
            <i class="fa-solid fa-envelope"></i>
            <div id="tooltip-bottom-3" role="tooltip" class="absolute transition-opacity duration-300 opacity-0 z-10 invisible inline-block px-2 py-1 text-xs font-medium text-white bg-gray-600 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                Mark as read
            </div>
        </button>
        <button data-tooltip-target="tooltip-bottom-4" data-tooltip-placement="bottom" class="rounded-full w-8 h-8 hover:bg-gray-200 hover:text-slate-500">
            <i class="fa-solid fa-envelope-open"></i>
            <div id="tooltip-bottom-4" role="tooltip" class="absolute transition-opacity duration-300 opacity-0 z-10 invisible inline-block px-2 py-1 text-xs font-medium text-white bg-gray-600 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                Mark as unread
            </div>
        </button>
        <button data-tooltip-target="tooltip-bottom-5" data-tooltip-placement="bottom" class="rounded-full w-8 h-8 hover:bg-gray-200 hover:text-slate-500">
            <i class="fa-solid fa-box"></i>
            <div id="tooltip-bottom-5" role="tooltip" class="absolute transition-opacity duration-300 opacity-0 z-10 invisible inline-block px-2 py-1 text-xs font-medium text-white bg-gray-600 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                Archive email
            </div>
        </button>
        <button data-tooltip-target="tooltip-bottom-6" data-tooltip-placement="bottom" class="rounded-full w-8 h-8 group hover:bg-gray-200 hover:text-slate-500">
            <i class="fa-solid relative fa-box-open"></i>
            <div id="tooltip-bottom-6" role="tooltip" class="absolute transition-opacity duration-300 opacity-0 z-10 invisible inline-block px-2 py-1 text-xs font-medium text-white bg-gray-600 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                Unarchive email
            </div>
        </button>
    </div>
</div>